html,
body {
    margin: 0;
    padding: 0;
}
.wrapper {
  width: 100%;
  min-height: 100vh;
  display: block;
  background: #444 url('/assets/images/bg-space.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
